.container {
  height: 100%;
  width: 60%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  background-color: #f1f8ff;
}

.app .hire {
  background-color: #3695ff;
  height: 800px;
}

.app .about {
  background-color: #ffffff;
  height: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.app .about h2 {
  margin-top: 90px;
  margin-bottom: 40px;
  color: #3695ff;
}

.app .about p {
  margin-bottom: 50px;
}

.app section {
  height: 100%;
  width: 100%;
}

.app section .container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.app section .container .expert-in__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50%;
  margin: 0 auto;
  color: #000;
}

.app section .container .expert-in__header h3 {
  color: #3677fd;
  font-size: 25px;
}

.app section .container .expert-in__main-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app section .container .expert-in__main-items .expert-in__main-items__block {
  margin: 15px;
}

.app section .container .expert-in__main-items .expert-in__main-items__block .expert-in__main-items__block__logo {
  height: 134px;
  width: 134px;
  border-radius: 50%;
  border: 3px solid #dae2ea;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app section .container .expert-in__main-items .expert-in__main-items__block .expert-in__main-items__block__text {
  color: #3677fd;
}

.app section .container .expert-in__main-items .expert-in__main-items__block .expert-in__main-items__block__text h4 {
  padding-top: 20px;
  padding-bottom: 15px;
}

.app section .container .expert-in__main-items .expert-in__main-items__block .expert-in__main-items__block__text p {
  padding-bottom: 30px;
}

.app .works {
  background-color: #ffffff;
  height: 1015px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.app .works h2 {
  margin-top: 90px;
  margin-bottom: 40px;
  color: #3695ff;
}

.app .works .projects {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.app .works .projects .project {
  width: 30%;
  height: 270px;
  margin: 10px;
  background-color: #f4f4f4;
  border-radius: 10px;
  justify-content: center;
}

.app .works .projects .project img {
  margin-left: auto;
  margin-right: auto;
  height: 240px;
  padding: 5%;
  text-align: center;
  display: table-cell;
}

.app .clients {
  background-color: #f1f8ff;
  height: 460px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.app .clients h2 {
  margin-top: 80px;
  margin-bottom: 40px;
  color: #3695ff;
}

.bg-animations {
  width: 78px;
  height: 65px;
  background: url("/assets/images/expert_in_sprite.png") -10px -10px;
}

.bg-mobile_app_design {
  width: 45px;
  height: 66px;
  background: url("/assets/images/expert_in_sprite.png") -200px -96px;
}

.bg-product_design {
  width: 71px;
  height: 67px;
  background: url("/assets/images/expert_in_sprite.png") -10px -95px;
}

.bg-UX_UI {
  width: 63px;
  height: 63px;
  background: url("/assets/images/expert_in_sprite.png") -108px -88px;
}

.bg-web_design {
  width: 72px;
  height: 58px;
  background: url("/assets/images/expert_in_sprite.png") -108px -10px;
}

.bg-web_development {
  width: 58px;
  height: 66px;
  background: url("/assets/images/expert_in_sprite.png") -200px -10px;
}

@media (min-width: 50em) {
  section .container .expert-in__main-items {
    flex-direction: row;
  }
  section .container .expert-in__main-items .expert-in__main-items__block {
    width: 50%;
  }
}

.cookies {
  text-align: center;
  background-color: #194277;
}

.cookies__wrapper {
  display: inline-block;
  margin: 0 auto;
  padding: 22px 0;
}

.cookies__text {
  margin-right: 46px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #fff;
}

.cookies__btn {
  padding: 10px 34px;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #194277;
  line-height: 12px;
  background-color: #fff;
}
/*# sourceMappingURL=styles.css.map */