.container {
  height: 100%;
  width: 60%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 4040px;
  background-color: brown;
}

.app .hire {
  background-color: #3695ff;
  height: 800px;
}

.app .about {
  background-color: #ffffff;
  height: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.app .about h2 {
  margin-top: 90px;
  margin-bottom: 40px;
  color: #3695ff;
}

.app .about p {
  margin-bottom: 50px;
}

.app .expert {
  background-color: #f1f8ff;
  height: 1150px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.app .expert h2 {
  margin-top: 90px;
  margin-bottom: 40px;
  color: #3695ff;
}

.app .expert .expert-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 1000px;
}

.app .expert .expert-container .expert-container__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 450px;
  width: 395px;
  background-color: crimson;
}

.app .expert .expert-container .expert-container__block .expert-container__logo {
  height: 100px;
  width: 100%;
  display: flex;
}

.app .works {
  background-color: #ffffff;
  height: 1015px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.app .works h2 {
  margin-top: 90px;
  margin-bottom: 40px;
  color: #3695ff;
}

.app .works .projects {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.app .works .projects .project {
  width: 30%;
  height: 270px;
  margin: 10px;
  background-color: #f4f4f4;
  border-radius: 10px;
  justify-content: center;
}

.app .works .projects .project img {
  margin-left: auto;
  margin-right: auto;
  height: 240px;
  padding: 5%;
  text-align: center;
  display: table-cell;
}

.app .clients {
  background-color: #f1f8ff;
  height: 460px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.app .clients h2 {
  margin-top: 90px;
  margin-bottom: 40px;
  color: #3695ff;
}

.bg-animations {
  width: 78px;
  height: 65px;
  background: url("css_sprites.png") -10px -10px;
}

.bg-mobile_app_design {
  width: 45px;
  height: 66px;
  background: url("css_sprites.png") -200px -96px;
}

.bg-product_design {
  width: 71px;
  height: 67px;
  background: url("css_sprites.png") -10px -95px;
}

.bg-UX_UI {
  width: 63px;
  height: 63px;
  background: url("css_sprites.png") -108px -88px;
}

.bg-web_design {
  width: 72px;
  height: 58px;
  background: url("css_sprites.png") -108px -10px;
}

.bg-web_development {
  width: 58px;
  height: 66px;
  background: url("css_sprites.png") -200px -10px;
}

.cookies {
  text-align: center;
  background-color: #194277;
}

.cookies__wrapper {
  display: inline-block;
  margin: 0 auto;
  padding: 22px 0;
}

.cookies__text {
  margin-right: 46px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #fff;
}

.cookies__btn {
  padding: 10px 34px;
  border: none;
  border-radius: 15px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #194277;
  line-height: 12px;
  background-color: #fff;
}
/*# sourceMappingURL=styles.css.map */