.container {
    height: 100%;
    width: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 4040px;
    background-color: brown;

    .about {
        background-color: #ffffff;
        height: 400px;
        display: flex;
        justify-content: center;
        text-align: center;
            h2 {
                margin-top: 90px;
                margin-bottom: 40px;
                color: #3695ff;
            }
            p {
                margin-bottom: 50px;
            }
        
    }

    .expert {
        background-color: #f1f8ff;
        height: 1150px;
        display: flex;
        justify-content: center;
        text-align: center;
        h2 {
            margin-top: 90px;
            margin-bottom: 40px;
            color: #3695ff;
        }
    }
}

// COOKIES SECTION
.cookies{
    text-align: center;
    background-color: #194277;
}

.cookies__wrapper{
    display: inline-block;
    margin: 0 auto;
    padding: 22px 0;
}

.cookies__text{
    margin-right: 46px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #fff;
}

.cookies__btn{
    padding: 10px 34px;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #194277;
    line-height: 12px;
    background-color: #fff;

}